* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.p-div {
    width: 600px;
    height: 400px;
    background-color: brown;
    border: 2px solid black;

    /* position: static; element will be not moved */

    position: absolute;
    left: 200px;
    top: 200px;
}

.c-div {
    width: 100px;
    height: 100px;
    background-color: rgb(13, 219, 143);
    border: 2px solid black;

    /* position: static; element will be not moved */

    position: absolute;
    left: 100px;
    top: 100px;
}